<?xml version="1.0"?>

<launch>
 
  <arg name="world_name" default="$(find turtlebot3_gazebo)/models/smallroundTrack.world"/>



  <!-- Vehicle pose -->
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.2"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="1.5675"/>


    <!-- robot_description is used by nodes that publish to joint_states. -->
    <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />

    <!-- Read joint positions from joint_states, then publish the vehicle's
         state to tf. -->
    <node name="vehicle_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="publish_frequency" value="30.0"/>
    </node>


    <!-- Create the world. -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <!-- <param name= "debug" value="true" /> -->
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
    </include>

    <!-- Spawn the vehicle. -->
    <node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model turtlebot3_burger
                -x $(arg x) -y $(arg y) -z $(arg z)
                -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>



    <!-- RVIZ Stuff - ->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_gazebo)/rviz/turtlebot3_gazebo_model.rviz"/>
-->
    <!-- Read joint positions from a GUI, then publish them to joint_states. -->
    <node name="joint_state_publisher" pkg="joint_state_publisher"
        type="joint_state_publisher">
      <param name="rate" value="30"/>
      <param name="use_gui" value="false"/>
    </node>


</launch>
